<form method="POST" action='/coffees'>
    <br>
    <h2>Let's add a new coffee to your list!</h2>
    <br>
    <label>Coffee brand: </label>
    <input type="text" name="coffee[brand]">
    <br>
    <label>Coffee flavor: </label>
    <input type="text" name="coffee[flavor]">
    <br>
    <label>Roast type: </label>
    <input type="text" name="coffee[roast]">
    <br>
    <label>Rating (1.0-5.0): </label>
    <input type="decimal" pattern="[1.0-5.0]{3}" name="coffee[rating]">
    <br>
    <br>
    <input type="submit" value="Add coffee to my list">
</form>