<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>
<form method="POST" action="/signin">
    Username: <input type="text" name="user[username]"> or Email:  <input type="text" name="user[email]">
    <br>
    <br>
    Password:  <input type="text" name="user[password]">
    <br>
    <input type="submit" value="Login">
</form>