<h2>Please sign up for a free account in order to track your coffee flavor ratings!</h2>
<form method="POST" action="/signup">
    Username: <input type="text" name="user[username]"><br>
    Email: <input type="email" name="user[email]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Create account">
</form>