<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>CoffeeTracker</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1>My Coffee Tracker</h1>
      <% if logged_in? %>
        <a href="/logout">Log out</a>
      <% end %>
      <br>
      <% if logged_in? %>
        <a href="/users/<%= @user.id %>">My home page</a>
      <% end %>
      <br>
      
     
      
        <%= yield %>

  </body>

</html>