<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>CoffeeTracker</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

      <% if logged_in? %>
        <a href="/logout">Log out</a>
      <% end %>
      <br>
      <% if logged_in? %>
        <a href="/users/@user.id">My home page</a>
      <% end %>
      <br>
      <a href="/coffees/new">Create a new coffee</a>
      <h1>My Coffee Tracker</h1>
      
        <%= yield %>

  </body>

</html>